body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #090000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 8rem var(--maxContainerWidth) 8rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 900;
  color: #ffffff;
}
h4 {
  color: #ffffff;
  font-size: 14px;
}
p.error-message {
  color: red;
  font-weight: bold;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border: 0.1rem solid #ffffff;
  background: transparent;
  margin: 20px;
}

input {
  padding: 1rem 1.6rem;
  border: 0.1rem solid rgb(0, 98, 218);
  color: rgb(173, 173, 173);

  font-size: 20px;
  max-width: 200px;
}

button:hover {
  color: rgb(0, 98, 218);
  border-color: rgb(0, 98, 218);
  background: #ffffff;
  transition: ease-in-out 1s;
}

button {
  width: 100%;
  text-align: center;
  justify-content: center;
  transition: all 0.2s ease 0s;
  border: 0.1rem solid rgb(0, 98, 218);
  background: transparent;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.75rem;
  display: flex;

  font-size: 1rem;
  font-family: Montserrat;
  font-style: normal;

  line-height: normal;
  color: rgb(0, 98, 218);
}
